rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Deny all
    match /{document=**} {
      allow read, write: if false;
    }

    // Errors collection
    match /errors/{errorId} {
      allow create: if request.auth != null;
    }

    // Exercises collection
    match /exercises/{exerciseId} {
      allow read: if request.auth != null;
    }
    
    // Users collection
    match /users/{userId} {
      // Authenticated users can read their own document
      allow read: if request.auth != null && 
        request.auth.uid == userId;
        
      // Authenticated users can update their own document if the only field
      // that is being updated is completedExercises
      allow update: if request.auth != null && 
        request.auth.uid == userId &&
        request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(['completedExercises']);
    }
  }
}